
html {
  overflow-y: scroll;
}

body {
    font-family: $font-family1;
    font-style: normal;
    font-weight: $font-weight1;
    padding-top: 65px; 
    color: $palette1_color2; }

h1,h2,h3,h4,h5,h6 {
  color: $palette1_color1; }

h1 {
  font-weight: $font-weight2; }

h4 {
    padding-top: .6rem;
}

h5 {
    padding-top: .2rem;
}

p {
    margin-bottom: .2rem;
}

.emojis {
  letter-spacing: 2px;
  font-size: 2em; }

a, a:hover {
    color: $palette1_color1; }

.color-primary {
    color: $palette1_color1; }

.color-secondary {
    color: $palette1_color5; }

.navbar {
    background-color: $palette1_color4;
    padding: .5rem 0 0 0; }

.navbar-toggler-right {
    right: 0rem;
    padding-top: .5rem;
    padding-right: 0rem; }

.underline {
    border-bottom: .1rem solid $palette1_color3; }

.topline {
    border-top: .1rem solid $palette1_color3;
    margin-top: 0.8rem;
    padding-top: 1rem; }

.navbar-nav {
    background-color: $palette1_color4; }

hr {
    margin-top: 0.2rem;
    margin-bottom: 0.8rem; }

.extra-bottom-padding{
    padding-bottom: 20px; }

a.anchor:before { 
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 5em;
    margin-top: -5em }

@media screen and (min-width: 400px) {
    .media {
        width: 40%;
    }

    .left {
        float: left;
        padding-right: 1em;
    }

    .right {
        float: right;
        padding-left: 1em;
    }
}

@media screen and (max-width: 400px) {
    .media {
        width: 100%;
        padding-bottom: 0.8em;
    }
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding: 0.5em;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}