<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <footer class="footer text-center topline">
                <nav class="navbar navbar-light rounded">
                    <ul class="nav ml-auto mr-auto">
                        <li class="nav-item mr-3">
                            <a href="https://www.linkedin.com/in/matthewsommer" target="_blank"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i></a>
                        </li>
                        <li class="nav-item mr-3">
                            <a href="https://twitter.com/yerself" target="_blank"><i class="fab fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                        </li>
                        <li class="nav-item mr-3">
                            <a href="https://www.facebook.com/matthew.sommer" target="_blank"><i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                        </li>
                        <li class="nav-item mr-3">
                            <a href="https://www.instagram.com/matthew.sommer" target="_blank"><i class="fab fa-instagram fa-2x" aria-hidden="true"></i></a>
                        </li>
                        <li class="nav-item mr-3">
                            <a href="https://github.com/matthewsommer" target="_blank"><i class="fab fa-github-square fa-2x" aria-hidden="true"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://angel.co/matt-sommer" target="_blank"><i class="fab fa-angellist fa-2x" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.strava.com/athletes/matt_sommer" target="_blank"></a>
                        </li>
                    </ul>
                </nav>
                <p class="mt-2">
                    &copy; 2017 Matt Sommer - Subscribe <a href="{{ "/feed.xml" | relative_url }}" target="_blank">via RSS</a>
                    
                    <br/><a href="{{ "/sitemap.xml" | relative_url }}">Site Map</a> - <a href="/privacy_policy">Privacy</a> - <a href="/techstack">Tech Stack</a>
                    <br/>All Rights Reserved
                </p>
            </footer>
        </div>
    </div>
</div>