<div class="container fixed-top">
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <nav class="navbar navbar-expand-md underline">
                <a class="navbar-brand" href="/">MattSommer.io</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation" style="padding-right:0px;">
                    <i class="fa fa-bars color-secondary" aria-hidden="true"></i>
                </button>
                <div class="collapse navbar-collapse text-right" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/photography/">Photography<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog/">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tasks/">What I'm up to</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>