<div ng-app="myApp" ng-controller="tasks">
    {% include task_nav.html %}
    <h2 ng-bind="title" ng-cloak></h2>
    <hr/>
    <table class="mb-3">
        <tr ng-repeat="task in tasks" ng-cloak>
            <td class="align-top">
                <i ng-if="task.status == 'In Progress' " class='fas fa-spinner' style='color:green; margin-left:0.5em; margin-right:0.5em;'></i>
                <i ng-if="task.status == 'Open' " class='far fa-circle' style='color:green; margin-left:0.5em; margin-right:0.5em;'></i>
                <i ng-if="task.status == 'Closed' " class='fas fa-check-circle' style='color:green; margin-left:0.5em; margin-right:0.5em;'></i>
            </td>
            <td>
                <a ng-if="task.type == 'Reading'" ng-href="/task/?id={%raw%}{{task.id}}{%endraw%}" ng-bind="task.title"></a><small><span ng-if="task.author != ''" ng-href="/task/?id={%raw%}{{task.id}}{%endraw%}" ng-bind="' by ' + task.author"></span></small>
            </td>
        </tr>
    </table>
</div>
<script>
app.controller('tasks', function($scope, $http) {
    $.getJSON("https://tasks.mattsommer.io/reading", function(result) {
        $scope.tasks = result;
        $scope.title = title;
        $scope.$digest();
    });
});
</script>