<div ng-app="myApp" ng-controller="tasks">
    {% include task_nav.html %}
    <h2 ng-bind="title" ng-cloak></h2>
    <hr/>
    <div class="row flex-wrap-reverse">
        <div class="col-md-12">
        <div ng-repeat="project in projects" ng-cloak>
                <h4 ng-bind="project"></h4>
                <hr ng-cloak/>
                <table class="mb-3">
                    <tr ng-repeat="task in tasks" ng-if="task.project == project" ng-cloak>
                        <td class="align-top">
                            <i ng-if="task.status == 'In Progress' " class='fas fa-spinner' style='color:green; margin-left:0.5em; margin-right:0.5em;'></i>
                            <i ng-if="task.status == 'Open' " class='far fa-circle' style='color:green; margin-left:0.5em; margin-right:0.5em;'></i>
                            <i ng-if="task.status == 'Closed' " class='fas fa-check-circle' style='color:green; margin-left:0.5em; margin-right:0.5em;'></i>
                        </td>
                        <td>
                            <a ng-if="task.type == 'Reading'" ng-href="/task/?id={%raw%}{{task.id}}{%endraw%}" ng-bind="'Reading ' + task.title + ' by ' + task.author"></a>
                            <a ng-href="/task/?id={%raw%}{{task.id}}{%endraw%}" ng-bind="task.summary"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
app.controller('tasks', function($scope, $http) {
    function setView(tasks){
        var projects = $.unique(tasks.map(function (task) {return task.project;}));
        projects.reverse();
        $scope.projects = projects;
        $scope.tasks = tasks;
        $scope.title = title;
        $scope.$digest();
    }
    $.getJSON(dataUrl, function(result) {
        setView(result)
    });
});
</script>