---
layout: default
---
{{ content }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.5/showdown.min.js"></script>
<div ng-app="myApp" ng-controller="task">
    <div class="row">
        <div class="col-12">
            <div ng-bind="task.fields.project.name" class="pr-2"></div>
            <h5 ng-bind="task.fields.summary"></h5>
            <div class="row pb-1">
                <div class="col-12 d-flex flex-row">
                    <div ng-if="epic != null" ng-bind="epic.fields.project.name" class="pr-2"></div>
                    <div ng-if="epic != null" class="pr-2">
                        <a ng-href="/task?id={%raw%}{{epic.id}}{%endraw%}" ng-bind="epic.fields.summary"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex flex-row">
                <img ng-if="task.fields.status.name == 'In Progress' " src='https://img.shields.io/badge/Status-In--Progress-blue.svg' class='align-top' style="align-self: center"></img>
                <img ng-if="task.fields.status.name == 'Closed' " src='https://img.shields.io/badge/Status-Closed-brightgreen.svg' class='align-top' style="align-self: center"></img>
                <img ng-if="task.fields.status.name == 'Open' " src='https://img.shields.io/badge/Status-To--Do-red.svg' class='align-top' style="align-self: center"></img>
                <a ng-href="https://timetopretend.atlassian.net/browse/{%raw%}{{task.key}}{%endraw%}" target='_blank' style='text-align:right' class='pl-2 pr-2'><i class='fas fa-database'></i></a>
                <div ng-bind="task.fields.priority.name" class="pr-2"></div>
                <a ng-if="task.fields.customfield_11401" ng-href="{%raw%}{{task.fields.customfield_11401}}{%endraw%}" target="_blank"><i class='fab fa-github fa-lg pr-1'></i>GitHub Repo</a>
                <div ng-if="task.fields.customfield_10700" ng-bind="task.fields.customfield_10700.value" class="ml-2"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-2">
            <h4 ng-if="task.fields.description != null">Description</h4>
            <div ng-if="task.fields.description != null" ng-bind="task.fields.description"></div>
            <div ng-repeat="detail in result.detail">
                <div ng-repeat="repo in detail.repositories">
                    <h4 ng-if="repo.commits.length > 0" class="mt-2">Commits</h4>
                    <div ng-repeat="commit in repo.commits">
                        <a ng-href="{%raw%}{{commit.url}}{%endraw%}" ng-bind="commit.message" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="stories_row" class="row">
        <div class="col-12">
            <h5 ng-if="stories.length > 0">Stories</h5>
            <div ng-repeat="task in stories">
                <i ng-if="task.fields.status.id == 6" class='fas fa-check-circle' style='color:green; margin-left:0.5em;'></i>
                <i ng-if="task.fields.status.id == 3" class='fas fa-spinner' style='color:green; margin-left:0.5em;'></i>
                <i ng-if="task.fields.status.id == 1" class='far fa-circle' style='color:green; margin-left:0.5em;'></i>
                <a ng-href="/task?id={%raw%}{{task.id}}{%endraw%}" ng-bind="task.fields.summary"></a>
            </div>
        </div>
    </div>
    <div id="attachment_row" class="row">
        <div class="col-12">
            <h5 ng-if="task.fields.attachment.length > 0">Attachments</h5>
            <div ng-repeat="attachment in task.fields.attachment" class="pt-3">
                <img ng-src="{%raw%}{{attachment.thumbnail}}{%endraw%}"></img>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="readme"></div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
var app = angular.module('myApp', []);
app.controller('task', function($scope, $http) {
    
    function setStoriesA(tasks) {
        $scope.stories = tasks;
        $scope.$digest();
    }

    function setRepoA(result) {
        $scope.result = result;
        $scope.$digest();
    }

    function setView(task,epic){
        $scope.task = task;
        $scope.epic = epic;
        $scope.$digest();
        getTasksAsync("\"Epic%20Link\"%20%3D%20" + task.id + "&fields=summary,project,status", 0, setStoriesA);
        getRepoData(id, setRepoA);
    }
    
    var id = getParameterByName("id");
    getTaskAsync(getParameterByName("id"),setView);
});
</script>