---
layout: default
---
{{ content }}
{% include task_nav.html %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.5/showdown.min.js"></script>
<div ng-app="myApp" ng-controller="task">
    <div ng-if="epic != null" class="row">
        <div class="col-12">
            <span ng-bind="epic.fields.project.name"></span> - <span ng-bind="epic.fields.issuetype.name"></span>
            <a ng-href="/task/?id={%raw%}{{epic.id}}{%endraw%}" ng-bind="epic.fields.summary" ng-cloak class="mr-1"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span ng-bind="task.fields.project.name"></span>
            <span ng-bind="task.fields.issuetype.name"></span>
            <h3 ng-bind="task.fields.summary" class="mb-2"></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img ng-if="task.fields.status.name == 'In Progress' " ng-src='https://img.shields.io/badge/Status-In--Progress-blue.svg' class='align-top' style="align-self: center" ng-cloak></img>
            <img ng-if="task.fields.status.name == 'Closed' " ng-src='https://img.shields.io/badge/Status-Closed-brightgreen.svg' class='align-top' style="align-self: center" ng-cloak></img>
            <img ng-if="task.fields.status.name == 'Open' " ng-src='https://img.shields.io/badge/Status-To--Do-red.svg' class='align-top' style="align-self: center" ng-cloak></img>
            <a ng-if="task" ng-href="https://timetopretend.atlassian.net/browse/{%raw%}{{task.key}}{%endraw%}" target='_blank' style='text-align:right' class='pl-2 pr-2' ng-cloak><i class='fas fa-database' ng-cloak></i></a>
            <span ng-bind="task.fields.priority.name" ng-cloak></span>
            <div ng-if="task.fields.components" ng-cloak>
                <span data-ng-repeat="component in task.fields.components"><a ng-href="{%raw%}{{component.description}}{%endraw%}" target="_blank">{%raw%}{{component.name}}{%endraw%}</a><font ng-show="!$last">, </font></span>
            </div>
        </div>
    </div>
    <div ng-if="percentClosed != 'NaN'" class="row" ng-cloak>
        <div class="col-12 mt-2">
            <table>
                <td>
                    {%raw%}{{percentClosed}}{%endraw%}%  
                </td>
                <td style="width:100%">
                    <div class="progress" style="height: 4px;">
                        <div class="progress-bar bg-success mr-1 ng-cloak" role="progressbar" style="width: {%raw%}{{percentClosed}}{%endraw%}%" aria-valuenow="{%raw%}{{percentClosed}}{%endraw%}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
            </table>
        </div>
    </div>
    <div ng-if="task.renderedFields.description != null" class="row">
        <div ng-cloak class="col-12">
            <h4 ng-if="task.renderedFields.description != ''" ng-cloak>Description</h4>
            <div ng-if="task.renderedFields.description != null" ng-bind-html="task.renderedFields.description" ng-cloak></div>
            <div ng-repeat="detail in result.detail" ng-cloak>
                <div ng-repeat="repo in detail.repositories" ng-cloak>
                    <h4 ng-if="repo.commits.length > 0" class="mt-2" ng-cloak>Commits</h4>
                    <hr ng-if="repo.commits.length > 0" ng-cloak/>
                    <div ng-repeat="commit in repo.commits">
                        <a ng-href="{%raw%}{{commit.url}}{%endraw%}" ng-bind="commit.message" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div ng-repeat="project in projects" ng-cloak>
                <h4 ng-bind="project"></h4>
                <hr ng-if="stories.length > 0" ng-cloak/>
                <table class="mb-3">
                    <tr ng-repeat="task in stories" ng-if="task.fields.project.name == project" ng-cloak>
                        <td class="align-top">
                            <i ng-if="task.fields.status.id == 6" class='fas fa-check-circle mr-1' style='color:green;'></i>
                            <i ng-if="task.fields.status.id == 3" class='fas fa-spinner mr-1' style='color:green;'></i>
                            <i ng-if="task.fields.status.id == 1" class='far fa-circle mr-1' style='color:green;'></i>        
                        </td>
                        <td>
                            <a ng-href="/task/?id={%raw%}{{task.id}}{%endraw%}" ng-bind="task.fields.summary"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div ng-if="subtasks.length > 0" class="row">
        <div class="col-12">
            <h4>Tasks</h4>
            <hr/>
            <div ng-repeat="subtaskId in task.fields.subtasks" ng-init="sectionIndex = $index">
            <table class="mb-3">
                <tr ng-repeat="subtask in subtasks" ng-if="subtask.id == subtaskId.id" ng-cloak>
                    <td class="align-top pt-1 pr-2">
                        <u><h4 ng-bind="{%raw%}{{sectionIndex + 1}}{%endraw%}" class="pt-0" style="text-align: center;"></h4></u>
                        <div>
                            <i ng-if="subtask.fields.status.id == 6" class='fas fa-check-circle mr-1' style='color:green;'></i>
                            <i ng-if="subtask.fields.status.id == 3" class='fas fa-spinner mr-1' style='color:green;'></i>
                            <i ng-if="subtask.fields.status.id == 1" class='far fa-circle mr-1' style='color:green;'></i>
                        </div>
                        <div>
                            <a ng-if="task" ng-href="https://timetopretend.atlassian.net/browse/{%raw%}{{subtask.key}}{%endraw%}" target='_blank' style='text-align:center' ng-cloak><i class='fas fa-database' ng-cloak></i></a>
                        </div>
                        <div ng-bind="{%raw%}subtask.fields.priority.name | limitTo:2 {%endraw%}">

                        </div>
                    </td>
                    <td class="align-top">
                        <u><h4 ng-bind="{%raw%}subtask.fields.summary{%endraw%}" class="pt-1"></h4></u>
                        <div ng-bind-html="subtask.renderedFields.description"></div>
                    </td>
                </tr>
            </table>
            <hr/>
            </div>
        </div>
    </div>
    <h4 ng-if="task.fields.attachment.length > 0" ng-cloak>Pictures</h4>
    <hr ng-if="task.fields.attachment.length > 0" ng-cloak/>
    <div class="row ml-0">
        <div ng-repeat="attachment in task.fields.attachment" class="col-md-4 mb-4">
            <img ng-src="{%raw%}{{attachment.thumbnail}}{%endraw%}"></img>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="readme"></div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
<script>
var app = angular.module('myApp', ['ngSanitize']);
app.controller('task', function($scope, $http) {
    
    function setStories(tasks) {
        $scope.stories = tasks;
        var projects = $.unique(tasks.map(function (task) {return task.fields.project.name;}));
        projects.reverse();
        $scope.percentClosed = ((tasks.filter((task) => task.fields.status.id == 6).length / tasks.length) * 100).toFixed(0);
        $scope.projects = projects;
        $scope.$digest();
    }

    function setSubtasks(tasks) {
        $scope.subtasks = tasks;
        $scope.percentClosed = ((tasks.filter((task) => task.fields.status.id == 6).length / tasks.length) * 100).toFixed(0);
        $scope.$digest();
    }

    function setRepo(result) {
        $scope.result = result;
        $scope.$digest();
    }

    function setView(task,epic){
        $scope.task = task;
        getSubtasksAsync(task.id,setSubtasks);
        $scope.epic = epic;
        $scope.$digest();
        getTasksAsync("\"Epic%20Link\"%20%3D%20" + task.id + "&fields=summary,project,status", 0, setStories);
        getRepoData(id, setRepo);
    }
    
    var id = getParameterByName("id");
    getTaskAsync(getParameterByName("id"),setView);
});
</script>