---
layout: default
---
{{ content }}
{% include task_nav.html %}
<style>
.chart {
  width: 100%;
  min-height: 300px;
}
</style>
<h2 class="pt-2">Task Statistics</h2>
<hr/>
<div class="row justify-content-md-center">
    <div class="col-lg-6 col-sm-12">
        <h4>Epic/Story/Task Percentages</h4>
        <div id="piechart_div" class="chart"></div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <h4>Epic/Story/Task Totals</h4>
        <div id="barchart_div" class="chart"></div>
    </div>
</div>
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://www.google.com/jsapi"></script>
<script>
    $(document).ready(function(){
        typeCharts();
    });
</script>